<a href="https://colab.research.google.com/github/Maddic9/stunning-meme/blob/master/INFO_370_Homework_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INFO370 Problem Set 7: Bag-of-words, and k-NN
####Larissa Ho, Madeline Cummins, Michelle Chen

##1 Explore the data

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer

1. Load the data. You may drop size, lines, and pagenr

In [10]:
!wget https://raw.githubusercontent.com/aj-22/IMT370/master/data/texts.csv

df=pd.read_csv(r'/content/texts.csv', sep='\t', usecols = ['name', 'text'])

--2020-03-09 18:35:55--  https://raw.githubusercontent.com/aj-22/IMT370/master/data/texts.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16476212 (16M) [text/plain]
Saving to: ‘texts.csv.1’

texts.csv.1         100%[===================>]  15.71M  93.0MB/s    in 0.2s

2020-03-09 18:35:55 (93.0 MB/s) - ‘texts.csv.1’ saved [16476212/16476212]

In [11]:
df.head()

                              name                                               text
0  balbulus-early-life-charlemagne  \nTitle: Early Lives of Charlemagne by Eginhar...
1  balbulus-early-life-charlemagne  \n\nThe notes, keyed to line numbers in the so...
2  balbulus-early-life-charlemagne  \n         From a bronze statuette in the Musé...
3  balbulus-early-life-charlemagne  \n                _A lui finit la dissolution ...
4  balbulus-early-life-charlemagne  public opinion in regard to the meaning of fal...

In [12]:
df.shape

(12924, 2)

2. Ensure that you don't have any missing name, and empty text in your data.

In [13]:
df.isna().sum()

name    0
text    1
dtype: int64

3. Create a summary table where you show how many chunks of each book you have in data. Order
this by size.

In [14]:
df.name.unique()

array(['balbulus-early-life-charlemagne', 'beesly-queen-elizabeth',
       'bible', 'carroll-alice-wonderland',
       'chipman-earliest-electromagnetic-instruments',
       'cia-world-factbook-1992', 'eckstein-quintus-claudius',
       'fisher-quaker-colonies', 'gallienne-quest-of-golden-girl',
       'gordon-quiet-talks-crowned-christ', 'hardy-madding-crowd',
       'infiltrating-open-systems', 'kant-metaphysical-elements-ethics',
       'karn-snowflakes', 'milton-paradise-lost',
       'naval-academy-sound-military-decision', 'newsgroup',
       'paper-compact-hash-tables', 'paper-data-compression',
       'paper-logical-implementation-of-arithmetic',
       'paper-programming-by-example', 'paper-search-for-autonomy',
       'selected-polish-tales', 'shakespeare-as-you-like-it',
       'unamuno-tragic-sense-of-life', 'vaneeden-quest',
       'webster-early-european-history', 'why-speech-output',
       'workshop-proceedings'], dtype=object)

In [19]:
df.groupby("name").count().sort_values(by = 'text', ascending=False)

                                              text
name
cia-world-factbook-1992                       2822
bible                                         1321
webster-early-european-history                1265
vaneeden-quest                                 864
hardy-madding-crowd                            723
why-speech-output                              680
selected-polish-tales                          534
unamuno-tragic-sense-of-life                   519
naval-academy-sound-military-decision          485
milton-paradise-lost                           466
eckstein-quintus-claudius                      445
newsgroup                                      438
workshop-proceedings                           327
gordon-quiet-talks-crowned-christ              291
beesly-queen-elizabeth                         285
gallienne-quest-of-golden-girl                 261
fisher-quaker-colonies                         197
balbulus-early-life-charlemagne                192
shakespeare-as-you-like-it                     180
carroll-alice-wonderland                       157
karn-snowflakes                                 88
infiltrating-open-systems                       76
kant-metaphysical-elements-ethics               72
chipman-earliest-electromagnetic-instruments    60
paper-data-compression                          55
paper-search-for-autonomy                       48
paper-compact-hash-tables                       45
paper-logical-implementation-of-arithmetic      14
paper-programming-by-example                    13

4. Explore the data: check out a few pages from various titles, as a minimum take a look how do a few
books and a few CS papers look like.